.boosts-grid {
    display: grid;
    gap: 0.5rem;
    max-width: 1200px;
    margin: 0 auto; /* Centrer les cartes et équilibrer les espaces */
    justify-items: center; /* Centre horizontalement chaque carte */
    
  }
  
  


.boost-card {
    background: #381968;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: #974DD8;
    padding: 0.5rem;
    position: relative; /* Permet de positionner le bouton en bas à droite */
    display: flex; /* Utiliser Flexbox */
    align-items: center; /* Centrer verticalement le contenu principal */
    justify-content: center;
    gap: 0.5rem; /* Espacement entre les éléments */
    transition: transform 0.3s ease;
    max-height: 110px;
    min-height: 110px; /* Définit une hauteur minimale uniforme */
    max-width: 90%; /* Assurez que la carte occupe toute la largeur disponible */
    box-sizing: border-box; /* Important pour que les paddings soient inclus */
  }
  
  .boost-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0; /* Empêche l'image de rétrécir */
  }
  
  .boost-info {
    flex: 1; /* Permet au texte de prendre tout l'espace disponible */
    text-align: left; /* Justifier le texte à gauche */
    color: white;
    padding-right: 60px; /* Ajoute de l'espace pour éviter de chevaucher le bouton */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  }
  
  
  .boost-info h3 {

  }
  
  .boost-info p {
    font-size: 0.9rem;
    color: #D29EFF;
    margin: 0.25rem 0;
    
  }
  
  .boost-button {
    position: absolute; /* Positionnement absolu dans la carte */
    bottom: 5px; /* Distance par rapport au bas de la carte */
    right: 5px; /* Distance par rapport au bord droit de la carte */
    width: 50px; /* Largeur et hauteur égales pour obtenir un cercle */
    height: 50px;
    border-radius: 50%; /* Transforme le bouton en cercle */
    background: #E61791;
    color: white;
    font-size: 0.8rem;
    display: flex; /* Pour centrer le texte ou les icônes dans le cercle */
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: #974DD8;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 2.5rem;
    -webkit-tap-highlight-color: transparent;
  }
  
  .boost-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  